@import './reset.scss','./fonts.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);
body{
font-family: Montserrat,Avenir,Fira Code;
background-color: rgb(52, 52, 114);
scrollbar-width: thin;
scrollbar-color: orange;
}
