$black: #181716;
$green: #55AC58;
$white: #FFFFFF;
$orange:#9E7C49;
$gray:#8C8C8C;
$blackStrong: #1E1D1C;
$linearGreen:linear-gradient(
    265.69deg,
    rgba(85, 172, 88, 0) 2.06%,
    #55ac58 83.25%
  );
$linearBlack:linear-gradient(180.46deg, #181716 -15.09%, rgba(24, 23, 22, 0) 652.35%);
$linearOrange:radial-gradient(
  50% 50% at 50% 50%,
  rgba(255, 199, 0, 0) 80.21%,
  #ff8a00 100%
);
$linearBlue:radial-gradient(64.53% 64.53% at 50% 50%, #40A5F5 0%, rgba(64, 165, 245, 0.18) 100%);
$radialGreen:radial-gradient(50% 50% at 50% 50%, rgba(85, 172, 88, 0) 80.21%, #55AC58 100%);
$greenBold:#45a949
